* {box-sizing:border-box}

@viewport {
  width: device-width ;
  zoom: 1.0;
}

.box{
  width: 100%;
  height: 15%;
  background-color: black;
  margin: auto;
  position: absolute;
}

.me{
  color: white;
  font-family: italic;
  font-size: 45px;
  font-weight: 15px;
  position:absolute;
  left: 0;
  text-shadow: 10px 4px 5px red;
  top: -17%;
}

.backG{
  width: 100%;
  height: 74%;
  position: absolute;
  top: 16%;
  left: : 90%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTCNzwQRGNV9tw0kYSvUiRSB1W_2LxVTMUdbQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  opacity: 0.50;
  border-radius: 30px;
}

.add{
  color: white;
  font-family: italic;
  font-size: 25px;
  font-weight: 6px;
  position: absolute;
  right: 0;
  top: 3%;
}

.imgs{
  width: 35%;
  height: 60%;
  border-radius: 50%;
  border:7px solid green;
  padding: 40px;
  position: absolute;
  left: 60px;
  top: 25%;
}

.data{
  position: absolute;
  right: 7px;
  top: 25%;
  font-size: 30px;
  font-weight: 10px;
  font-family: initial;
}

.data1{
  width: 90%;
  height: 225px;
  position: absolute;
  font-weight: 6px;
  font-size: 25px;
  font-family: italic;
  left: 7%;
  top: 110%;
  color: white;
  margin: auto;

}

.family{
  width: 100%;
  height: 1350px;
  position: relative;
  top: 90%;
  border-radius: 130px;
  margin: auto;
}

.backG1{
  width: 100%;
  height: 68%;
  position: absolute;
  top: 93%;
  background-image: url("https://images.wallpaperscraft.com/image/wolf_silhouette_hills_130119_1280x720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  
}


.members{
  font-size: 38px;
  font-weight: bolder;
  font-family: italic;
  position: absolute;
  right: 43%;
  color: white;
  top: -5%;
}

.Fam_mem{
  position: absolute;
  width: 100%;
  height: 50%;
  right: 13%;
}

.fam{
  width: 110%;
  height: 280px;
  border-radius: 20%;
  padding: 10px;
  border: 5px solid blue;
  position: relative;
  left: 25%;
}

.mammi{
  width: 45%;
  height: 280px;
  border-radius: 20%;
  padding: 10px;
  border: 5px solid blue;
  position: relative;
  left: 45%;


}
.akshay{
  width: 60%;
  padding: 60%;
  height: 280px;
  border-radius: 20%;
  padding: 10px;
  border: 5px solid blue;
  position: relative;
  left: 30%;
  
}

.relation{
  font-size: 25px;
  font-weight: 15px;
  font-family: italic;
  position: relative;
  left: 12%;
  color: white;
  top: -7%;
}

.backG2{
  width: 100%;
  height: 68%;
  position: absolute;
  top: 165%;
  background-image: url("https://images.unsplash.com/photo-1476958526483-36efcaa80b1b?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}


.cousins{
  width: 100%;
  height: 500px;
  position: absolute;
  top: 163%;
}

.sin{
  font-size: 38px;
  font-weight: bolder;
  position: relative;
  left: 40%;
  color: black;
}


/* Slideshow container */

.slideshow-container {
  width: 30%;
  position: absolute;
  margin: auto;
  left: 20%;
  height: 60%;
  top: 30%;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 30px;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.cosin{
  position: absolute;
  left: 50%;
  padding: 10px;
  border:6px solid orange;
  border-radius: 10%;
}

.prev{
  position: absolute;
  right: 110%;
}
/* Position the "next button" to the right */
.next {
  left: 200%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 115%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 5px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots{
  position: absolute;
  top: 18%;
  right: 51%;
  color: red;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.slideshow-container_1 {
  width: 30%;
  position: relative;
  margin: auto;
  
  height: 50%;

}

.mySlides_1{
  display: none;
}


.mySlides_2{
  display: none;
}

.mySlides_3{
  display: none;
}

/* Next & previous buttons */
.prev_1, .next_1 {
  cursor: pointer;
  position: absolute;
  top:50%; 
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: 45px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.cosin_1{
  position: absolute;
  padding: 10px;
  border:5px solid black;
  border-radius: 15%;
  right: 1%;


}

.prev_1{
  position: absolute;
  right: 150%;
}
/* Position the "next button" to the right */
.next_1 {
  left: 113%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_1:hover, .next_1:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text_1 {
  color: black;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 22%;
  left: 105%;
}

/* Number text (1/3 etc) */
.numbertext_1 {
  color: black;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  top: 20%;
  right: 150%;
}

/* The dots/bullets/indicators */
.dot_1 {
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin: 5px 5px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  position: relative;
}
.dots_1{
  position: absolute;
  top: 50%;
  right: 60%;
  color: red;

}

.active_1, .dot_1:hover {
  background-color: #717171;
}

.active_2, .dot_2:hover {
  background-color: #717171;
}

.active_3, .dot_2:hover {
  background-color: #717171;
}


.end1{
  width: 100%;
  height: 34%;
  color: white;
  background-color: black;
  position: relative;
  top: 200%;
}

.sm{
  position: absolute;
  left:1%;
  font-size: 30px;
  font-weight: 8px;


}

.links{
  position: absolute;
  font-size: 30px;
  font-weight: 8px;
  top: 27%;
  left: 2%;
}

.end2{
position: absolute;
right: 1%;
font-size: 30px;
font-weight: 8px;

}

.end3{
position: absolute;
top: 10%;
right: 1%;
font-size: 30px;
font-weight: 8px;
top: 50%;
right: 19%;
}

li a:hover{
  background-color: white;
  color:red;
}

.backG3{
  width: 100%;
  height:155%;
  position: absolute;
  top: 238%;
  /*background-color: cyan;*/
  background:-webkit-radial-gradient(green,white,orange);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.Feedback{
  color: white;
  background-color: blue;
  padding: 10px;
  position: relative;
  font-size: 20px;
  font-weight: 10px;
  border-radius: 10%;
  top: 60%;
  left: 60%;
}
