
 
.container {
  width: 80%;
  height: 90%;
  margin: auto;
  position: absolute;
  top: 250%;
  
  border-radius: 20;
  left: 10%;
}


.title_sc{
  color: black;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  left: 29%;
  top: -15%;
}
 
button.college {
  width: 100%;
  background-color: whitesmoke;
  border: 4px solid red;
  border-radius: 20%;
  outline: none;
  text-align: left;
  padding: 5px 9px;
  font-size: 30px;
  font-weight: bold;
  text-align:center; 
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
  left: 30%;
}
 
button.college:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 20px;
  float: right;
	
}
 
button.college.is-open:after {
  content: '\f056';
}
 
button.college:hover, button.college.is-open {
  background-color: #ddd;
}
 
.college-content {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-radius: 30px;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  font-size: 25px;
  margin: auto;
  background-image: url("https://images.wallpaperscraft.com/image/sea_horizon_sunset_129952_1280x720.jpg");
  background-size: cover;
  backface-visibility: 50%;
  border-radius: 5px solid black;
  padding: 6px;
}